<% if @fighter_variants.empty? %>
    <p> Hello, this section is empty. Something will be here soon. </p>
<% else %>
    <% @fighter_variants.each do |variant| %>
    <p> <img src= <%= url_for(variant.image_url) %> width="320" height="240"  > </p>
        <p> Name: <%= variant.name %></p>
        <p> Author: <%= variant.author %> </p>
        <p> Website: <%= link_to variant.website, variant.website, target: :blank %> </p>
        <p> Origin: <%= variant.game_name %> </p>
    <% end %>
<% end %>

<%= link_to 'Add a new entry', "/characters/#{@single_game_origin.id}/#{@single_fighter.id}/new" %>
