
    <% if current_user && current_user.admin == true %>

        <h2>Submit a new fighter for <%= @game_origin.name %></h2>

        <%= form_with url: '/fighters', method: :post, local: true do |f| %>
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name %>

            <%= f.label :name_tag, 'Name Tag (e.g sf3ryu, mvc2dan)' %>
            <%= f.text_field :name_tag %>

            <%= f.hidden_field :character_id %>
            <%= hidden_field_tag :character_id, "#{params[:id]}" %>
    
            <%= f.submit 'Submit' %>
        <% end %>
    <% else %>
        <h2>You don't have permission to access this page.</h2>
        <p> <%= link_to 'Return to home', '/' %> </p>
    <% end %>
