<h2>Submit a new fighter</h2>

<%= form_with url: '/fighters', method: :post, local: true do |f| %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>

    <%= f.hidden_field :character_id %>
    <%= hidden_field_tag :character_id, "#{params[:id]}" %>
    
    <%= f.submit 'Submit' %>
<% end %>