<center>
    <% if @paginate_characters.empty? %>
        This section is empty. There will be content here soon
    <% else %>
        <h1>Character Origins</h1>
        <% @paginate_characters.each do |character| %>
            <p> <%= link_to character.name, "/characters/#{character.id}" %>  <%= button_to 'Edit origin', "/characters/#{character.id}/edit", method: :get %> </p>
        <% end %>
        <br>
    <%= link_to_prev_page @paginate_characters, 'Previous Page' %>
    <%= link_to_next_page @paginate_characters, 'Next Page' %>
    <% end %>
    <br>
    <% if current_user %>
        <p> <%= link_to 'Add new origin entry', '/characters/new' %> </p>
    <% end %>

    <p><%= link_to 'Back to Home Page', '/'%></p>
</center>