<% if session[:user_id] && current_user.admin == true %>
  <h2>Submit a new entry for origin</h2>

  <%= form_with url: '/characters', method: :post, local: true do |f| %>
    <%= f.label :origin, 'Name of game origin' %>
    <%= f.text_field :origin %>

    <%= f.submit 'Submit' %>
  <% end %>
<% else %>
  <h2>You don't have permission to access this page.</h2>
  <p> <%= link_to 'Return to home', '/' %> </p>
<% end %>